<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <header class="header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-4 border-bottom" >
        <img src="{{ url_for('static', filename='image/logotyp.jpg') }}" alt="logyn" style="width: 75px; border: 1px solid black; border-radius: 7px; margin-left: 10px;">
        
        <div class="col-md-3 mb-2 mb-md-0"> 
            
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            </a> 
        </div>
        
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            
            <li><a href="/notbook" class="zarez nav-link px-2 link-secondary">незарез книги</a></li>
            <li><a href="/" class="nav-link px-2 ">Всі книги</a></li>
            <li><a href="/booked" class="zarez nav-link px-2 link-secondary">зарез книги</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="/create" class="nav-link px-2 link-secondary">додати книгу</a></li>
            {% endif %}
        </ul>

        <div class="col-md-3 text-end"> 
            {% if current_user.is_authenticated %}
            <span class="me-3">Вітаємо, {{ current_user.username }}!</span>
            <a href="/logout" class="btn btn-outline-danger">Вихід</a>
            {% else %}
            <a href="/login" class="log btn btn-outline-primary me-2">Login</a>
            {% endif %}
        </div><br>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>