{% extends 'base.html' %}

{% block title %}
запись добавка
{% endblock %}

{% block body %}
<div class="header-row">
        <h1>Додай книгу</h1>
        <h1 id="buyInput">Додайте покупця</h1>
</div>

<form method="post" class="form_create from-control">

        <div class="row-inputs">
        <input type="text" name="name_book" class="text_stattya"
                placeholder="Введіть назву книги">

        <input type="text" name="buyer" class="text_stattya" id="buyerInput"
                placeholder="Введіть імя та фамілію покупця книги">
        </div>
        <div class="row-inputs">
        <input type="text" name="author" class="text_stattya"
                placeholder="Введіть автора книги">

        <input type="text" name="phone" class="text_stattya" id="phoneInput"
                placeholder="Введіть номер телефону покупця">           
        </div>
        <input type="text" name="ean" class="text_stattya1"
        placeholder="Введіть EAN книги"><br>
        <input type="date" name="date" class="date" id="dateInput" required>



        <div class="row-inputs">
                <button class="btn btn-success" type="submit">Добавити</button>
                <select class="state" name="stat" id="buyerSelect">
                        <option value="нема">читача нема</option>
                        <option value="є">читач є</option>
                </select>
        </div>
</form>
<script>
        const buyerSelect = document.getElementById('buyerSelect');
        const phoneInput = document.getElementById('phoneInput');
        const buyerInput = document.getElementById('buyerInput');
        const buyInput = document.getElementById('buyInput');
        
        const dateInput = document.getElementById('dateInput');
        const today = new Date().toISOString().split('T')[0];
        dateInput.value = today;
        function updateFields() {
                if (buyerSelect.value === 'нема') {
                        // Читача нема - ховаємо тільки поля покупця
                        phoneInput.classList.add('hidden');
                        buyerInput.classList.add('hidden');
                        buyInput.classList.add('hidden');
                } else {
                        // Читач є - показуємо поля покупця
                        phoneInput.classList.remove('hidden');
                        buyerInput.classList.remove('hidden');
                        buyInput.classList.remove('hidden');
                }
        }

        updateFields();
        buyerSelect.addEventListener('change', updateFields);
</script>
{% endblock %}